---
title: "Welcome"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /images/background.jpg
  actions:
    - label: "Visit"
      url: "https://github.com/joseandresmontes/"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "This site is a compilation highlighting independent projects. For more in-depth information regarding any project, visit their repository in my github account."
intro: 
  - excerpt: 'Data is all around us. Every click, every swipe, and every text we have ever written can be encoded, transmitted, and analyzed. However, in a world with an increasing abundance of data, there is a growing need to be able to parse through the noise and focus on what matters. This personal website hopes to highlight issues through studies and develop tools for others to increase accessibility to these issues.'
feature_row:
  - image_path: /images/post-3.jpg
    title: "Sustainability Investing Challenge"
    excerpt: "2020 Kellogg-Morgan Stanley Challenge Finalist"
    url: "https://joseandresmontes.github.io/projects/sustainability-challenge/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /images/post-2.jpg
    title: "Nonprofit Charity Navigator API Client"
    excerpt: "Access Data in R from Charity Navigator"
    url: "https://joseandresmontes.github.io/projects/nonprofit-api_client-tool/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /images/post-4.jpg
    title: "Credit Complaint NLP Analysis"
    excerpt: "Sentiment and Topic Analysis on Complaint Database"
    url: "https://joseandresmontes.github.io/projects/consumer-credit-complaint/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /images/post-1.jpg
    title: "Nonprofit Interaction Study"
    excerpt: 'Impact of Taxonomy and State of registration'
    url: "https://joseandresmontes.github.io/projects/nonprofit-interaction-study/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}