---
layout: archive
---

<h1>Welcome</h1>

<p>Data is all around us. Every click, every swipe, and every text we have ever written can be encoded, transmitted, and analyzed. However, in a world with an increasing abundance of data, there is a growing need to be able to parse through the noise and focus on what matters.

With this in mind, I am looking forward in develing into research in areas that I find interesting and worth exploring through data analysis. Along the way, I will be creating tools that can help other researchers to delve into their research.

Found in the projects section is research that is divided between tools and studies. Tools are packages that allow researchers to access data while studies are independent research articles (unless otherwise noted). Tools and studies currently cover the topics in economics and nonprofits.

To learn more about me, go to the about section.
</p>